<?xml version="1.0" encoding="UTF-8"?>
<plugin title="mondrianLogReader" loader="DEFAULT">
<overlays>
		<overlay id="startup.mondrianLogReader" resourcebundle="content/mondrianLogReader/resources/lang/messages">
			<menubar id="toolsmenu">
	        	<menuitem id="mondrianLogReader" label="${Launcher.mondrianLogReader}" command="mantleXulHandler.openUrl('${Launcher.mondrianLogReader}','${Launcher.mondrianLogReader_TOOLTIP}','plugin/mondrianLogReader/api/default')"/>
	      	</menubar>
	    </overlay>
	</overlays>
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/mondrianLogReader/static" localFolder="static"/>
		<static-path url="/mondrianLogReader/resources" localFolder="resources"/>
	</static-paths>
	<content-types>
		<content-type>
			<title>MondrianLogReader</title>
			<description></description>
			<company name="" url="" logo="@PLUGIN_COMPANY_LOGO@"></company>
		</content-type>
	</content-types>
	<content-generator
		id="mondrianLogReader"
		title="MondrianLogReader"
		type="mondrianLogReader"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
	<!-- Menu entry -->
	<menu-items>
		<!--<menu-item id="mondrianLogReader_main" anchor="tools-submenu" label="MondrianLogReader" command="content/mondrianLogReader/" type="MENU_ITEM" how="LAST_CHILD"/>-->
	</menu-items>
</plugin>
