/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */
/*
 * WDStyleGuide Template CSS  
 *
 * Use this as a template to format the styles of specific projects. Most of 
 * the most commonly used classes/rules are already written here. The file is
 * divided in the following sections:
 *
 *    Fonts
 *    Style Resets
 *    1. BACKGROUND 
 *    2. HEADER 
 *    3. FILTER CELLS
 *    4. DATA CELLS
 *    5. TABLES
 *    6. CHARTS 
 *    7. SELECTORS AND BUTTONS 
 *    Other 
 *    Project Specific Items  
 *
*/
/* =============================================================================
   Fonts
   ========================================================================== */
/* =============================================================================
   Style Resets
   ========================================================================== */
/* =============================================================================
   1. BACKGROUND 
   ========================================================================== */


.container {
  position: relative;
  padding: 10px 30px 30px 30px;
  border:solid 1px #CBDEE8;
  margin-bottom: 30px;
}

.container:before {
  content:"";
  width: 230px;
  height: 4px;
  background: #FFCE46;
  position: absolute;
  top: 0px;
  left: 0px;
}


/* =============================================================================
   2. HEADER 
   ========================================================================== */

.pluginHeader{
  border-bottom: solid 1px #CBDEE8;
  height:40px;
  padding-bottom:10px;
  line-height:30px;
}
.pluginTitle{
  font-size:16px;
  color:#323E47;
}

/* =============================================================================
   3. FILTER CELLS
   ========================================================================== */
/* =============================================================================
   4. DATA CELLS
   ========================================================================== */
/* =============================================================================
   5. TABLES
   ========================================================================== */
/* =============================================================================
   6. CHARTS 
   ========================================================================== */
/* =============================================================================
   7. SELECTORS AND BUTTONS 
   ========================================================================== */
/* =============================================================================
   Other 
   ========================================================================== */
/* =============================================================================
   Project Specific Items 
   ========================================================================== */





